.App {
  text-align: center;
  background-color: #2A2929;
  margin: 0 auto;
}

.images{
  width:50px;
}
.MainSection{
   border: 3px solid #EC9015;
}
.nimadir{
  border: 4px solid #EC9015
}
.sall{
  max-width: 680px !important;
}
.sal{
  max-width: 800px !important;
}
.cards_subtitle {
  /* padding: 0 1rem; */
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 40px;
}
.card_num {
  cursor: pointer;
  width: 64px;
  height: 36px;
  padding: 5px 18px;
  border: 1px solid rgb(201, 201, 201);
  color: black;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_hv{
  cursor: pointer;
  width: 64px;
  height: 36px;
  padding: 5px 18px;
  border: 1px solid rgb(201, 201, 201);
  color:#fff;
  background-color: #00f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color{
  color: #000;
}
.color1{
  background-color: #0f0;
  color: #fff;
}
.color2{
  background-color: #f00;
  color: #fff;
}


.card_hv2 {
  width: 100%;
  cursor: pointer;
  background-color: #858484;
}

.card_h {
  cursor: pointer;
}
